/* website's color palette and font */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
:root {
	--primary-color: #fad02c;
	--secondary-color: #90adc6;
	--dark-color: #333652;
	--bright-color: #e9eaec;
}

body,
html {
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}
/* Navbar */
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 15px 25px;
	background-color: var(--dark-color);
	font-weight: bold;
	font-size: 15px;
}

.nav-links {
	margin-top: 20px;
	float: right;
	list-style-type: none;
}

.nav-links li {
	display: inline;
	padding: 15px;
}

a {
	text-decoration: none;
	color: var(--bright-color);
}

a:hover {
	color: var(--primary-color);
}

.active {
	border-bottom: 1px solid var(--primary-color);
}

/* main webpage's section */
.logo {
	width: 50px;
}

.main {
	height: 100%;
}

.section {
	height: 100%;
	width: 75%;
	margin: auto;
}

.section-paragraph {
	font-size: 1em;
	margin: 25px;
}

/* footer's style */
.footer {
	padding: 15px;
	background-color: var(--dark-color);
	height: 50px;
}

.footer img {
	float: right;
}

.foot-links p{
	position: absolute;
	margin-top: 20px;
	margin-left: 25px;
	color: var(--bright-color);
}

/* Responsive styles */
@media (min-width: 768px) {
	.column {
		float: left;
	}
}
